body {
  background-color: #ffdfff;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 40rem;
  margin: 5rem auto;
  background-color: #ffb6c1;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border: 2px solid rgb(129, 94, 94);
}

input:focus,
textarea:focus {
  color: rgb(126, 122, 122);
  border-color: rgb(198, 243, 204);
  background-color: #ffdfff;
}

textarea {
  resize: none;
}

.radio {
  display: flex;
}

.radio input {
  width: auto;
  margin-right: 0.5rem;
}

.checkbox {
  display: flex;
}
.checkbox input {
  width: auto;
  margin-right: 0.5rem;
}

.btn-section {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  border: 2px solid rgb(230, 89, 89);
  border-radius: 8px;
  cursor: pointer;
}

#clear-btn {
  background-color: white;
  margin-right: 0.5rem;
}

#clear-btn:hover {
  border-color: rgb(212, 252, 226);
  background-color: gainsboro;
}

#submit-btn {
  background-color: rgb(198, 243, 204);
}

#submit-btn:hover {
  border-color: rgb(212, 252, 226);
  background-color: gainsboro;
}
